body {
    text-align: center;
}
.title {
    font-size: 36px;
    font-weight: 900;
  }

  .container {
  display: flex;
  justify-content: center;
  gap: 52px;
  }
  .grid {
    border: solid;
    height: 20px;
    width: 20px;
  }